<header class="header">
  <!-- logo -->
  <a href="#">
    <img class="logo" src="/img/logo.png" alt="Aahavaniya logo" />
  </a>
  <!-- Navigation bar -->
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li>
        <a href="/" class="main-nav-link">Home</a>
      </li>
      <li>
        <a href="/blog" class="main-nav-link">Blogs</a>
      </li>
      <li>
        <a href="/map" class="main-nav-link">Temple Map</a>
      </li>
      <li>
        <a href="#" class="main-nav-link">About</a>
      </li>
    </ul>
  </nav>
</header>
